<h1>Form for Comment:</h1>
<div>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>
<div>
    <%= f.submit 'Send', class: "btn btn-primary" %>
</div>
  <% end %>
