<h1>
  All Posts:
</h2>
<% @posts.each do |post| %>
  <div class="card">
    <div id="title" class="card-block">
      <ul class="row index">
        <li>
          <%= link_to "#{post.title}", post %>
        </li>
        <li class="pull-right">
          <%= link_to post,
              method: :delete,
              data: { confirm: "Are you sure you want to delete this post?" },
              class: "delete"  do %>
                <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
        </li>
      </ul>
      <div>
        <ul class="row index">
          <li class="add-comment">
            <%= link_to "ADD COMMENT", new_comment_path(post_id: post.id) %>
          </li>
          <li class="pull-right">
            <%= post.user.email %>
          </li>
        </ul>
      </div>
      <div class="no-gutters row justify-content-end">
        <div class="col-sm-1">
          <%= "#{post.vote_sum} / #{post.votes.count}" %>
        </div>
        <div class="col-sm-1">
          <%= render partial: "/layouts/vote", locals: { voteable: post, value: 1 }  %>
        </div>
        <div class="col-sm-1">
          <%= render partial: "/layouts/vote", locals: { voteable: post, value: -1 } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
